body{
    
    margin: 0;
    padding: 0;
    font-family :sans-serif;
    
}
/*-----------------------header CSS------------------*/

#header{
    
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}

.user-box{
    
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    
}

.user-box img
{
    
    border-radius: 30%;
    width: 250px;
    border: 2px solid black;
    
}

.user-box h1{
    
    color: #fff;
    font-weight: bold;
    margin: 10px;
    
}

.user-box p{
    
    color: #fff;
    
}

.scroll-btn{

bottom: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid #fff;
    padding: 10px 10px 20px;
    border-radius: 30px;
}

.scroll-bar span{
    
    border: 2px solid #fff;
    font-size: 10px;
    border-radius: 30px;
    
}

.scroll-bar{
    
   animation: mover 1s infinite alternate; 
    
}

@keyframes mover{
    
    0%{transform: translateY(0);}
    100%{transform: translateY(10px);}
    
}

/*--------------------------------About--------------------*/

.about{
    padding-top: 100px;
    margin-bottom: -100px;
}

.profile-img{
    height: 400px;
}

.nav-bar{

top: 0;
    position: sticky;
    z-index: 2;

}

.navbar{
    background: #000;
}

.navbar-brand img{
    
    height: 50px;
    
}

.nav-bar .fa-bars{
    
    font-size: 35px;
    color: #fff;
    
}

.navbar-toggler{
    outline: none !important;
}

.navbar-nav{
    
    float: right;
    text-align: right;
}
.nav-link{
    color: #fff !important;
}

.nav-link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

.nav-link:hover::after{
    width: 100%;
    background: #fff;
    transition: width .3s;
}

.skills-bar p{
    
    margin-bottom: 6px;
    font-weight: 600; 
}
/*--------------------------------Skills-------------------------*/

.skills{
    
    margin-top: 100px;
    padding-bottom: 60px;
    background: #f9f9f9;
    
}

.skills h3
{
    margin-bottom: 50px;
}

.wrapper{
    width: 1170px;
    margin: 0 auto;
}

.wrapper h2{
    text-align: center;
    font-size: 50px;
    margin: 5% 0 0;
    padding: 0;
}

.skills{
    margin-top: 5%;
    
}

.single-skill{
    width: 30%;
    margin: 0 15px;
    float: left;
    text-align: center;
}


/*--------------------------------Resume-------------------------*/

.resume{
    
    margin-top: -150px;
    padding-bottom: 30px;
    background: #fff;
    
}

.resume h3
{
    margin-bottom: 50px;
}

.timeline{
    position: relative;
    margin: 50px auto;
    padding:40px 0;
    width: 1000px;
}

.timeline: before{
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #fff;
}

.timeline ul{
    margin: 0;
    padding: 0;
}

.timeline ul li{
    list-style:none;
    line-height: normal;
    position: relative;
    width: 50%;
    padding: 20px 40px;
}

.timeline ul li: nth-child(odd){
    float: left;
    text-align: right;
    clear: both;
}

.timeline ul li: nth-child(even){
    float: right;
    text-align: left;
}

.content{
    padding-bottom: 20px;
}

.timeline ul li: nth-child(odd): before{
    content:'';
    position: absolute;
    top: 24px;
    right: -6px;
    width: 10px;
    height: 10px;
    background: rgba(233,33,99,1);
    border-radius:50%;
    box-shadow: 0 0 0 3px rgba(233,33,99,0.2);
    
}

.timeline ul li: nth-child(even): before{
    content:'';
    position: absolute;
    top: 24px;
    left: -4px;
    width: 10px;
    height: 10px;
    background: rgba(233,33,99,1);
    border-radius:50%;
    box-shadow: 0 0 0 3px rgba(233,33,99,0.2);
    
}

.timeline ul li h3{
    margin: 0;
    padding: 0;
    font-weight: 600;
    box-shadow: 0 0 0 3px rgba(233,33,99,1);
}

.timeline ul li p{
    margin: 10px 0 0;
    padding: 0;
}

.timeline ul li .time h4{
    margin: 0;
    padding: 0;
    font-size: 14px;
}


.timeline ul li: nth-child(odd).time{
    position: absolute;
    top: 12px;
    right: -165px;
    margin: 0;
    padding: 8px 16px;
    background: rgba(233,33,99,1);
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(233,33,99,0.3);
}

.timeline ul li: nth-child(even).time{
    position: absolute;
    top: 12px;
    : -165px;
    margin: 0;
    padding: 8px 16px;
    background: rgba(233,33,99,1);
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(233,33,99,0.3);
}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD



/*----------------------Artwork------------------*/

.Artwork{
    background: #f9f9f9;
    padding-top: 50px;
    padding-bottom: 50px;
}
Artwork h1{
    margin-bottom: 15px;
}

    .slider {
        width: 70%;
        margin: 100px auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }
    
    .slick-active {
      opacity: .3;
    }

    .slick-current {
      opacity: 1;
    }
.slick-dots li button{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #000;
}
slick-dots{
    bottom: -65px;
}

=======
>>>>>>> parent of 84458b5... artwork added
=======
>>>>>>> parent of 84458b5... artwork added
=======
>>>>>>> parent of 84458b5... artwork added
=======
>>>>>>> parent of 84458b5... artwork added
=======
>>>>>>> parent of 84458b5... artwork added
=======
>>>>>>> parent of 84458b5... artwork added
/*----------------------services------------------*/

.services{
    background: #f9f9f9;
    padding-top: 50px;
    padding-bottom: 50px;
}
services h1{
    margin-bottom: 15px;
}

.services-box{
    
    background: #fff;
    padding: 10px;
    margin-top: 20px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.services-box .fa{
    
    margin: 0 10px;
    font-size: 20px;
}

.services-box span{
    
    margin: 3px;
    font-size: 20px;
    font-weight: bold;
}

.services-box p
{
    
    font-size: 15px;
    margin-top: 20px;
    color: #777;
}

.services-box:hover{
    
    background: #000;
    color:#fff;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 50px;
    border-top-left-radius: 50px;
    transition: 1s;
}

.services-box:hover p{
    
    color: #fff;
}

/*--------------------------------------Contact----------------------*/
.contact{
   
    padding-top: 50px;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/Contact.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;   
}

.contact .row{
    
    padding: 30px 0;
    font-size: 22px;
}

.contact .col-md-4 .fa{
    
    padding: 10px;
    font-size: 40px;
}

.contact .btn{
    
    padding: 10px 25px 10px 25px;
    margin: 5px;
    border-radius: 30px;
    border: 2px solid #fff;
    background: transparent;
}

.contact .btn:focus{
    box-shadow: none !important;
}

.contact .btn:hover{
    
    border: 2px solid #000 !important;
    background: #000 !important;
    transition: 0.6s;
}

.contact .btn .fa{
    margin-right: 10px;
}

.footer{
    background: #000;
    height: 50px;
    margin-top: 50px;
    color: #fff;
    padding-top: 10px;
}


/*---------------------------------social-Icons----------------------*/
.social-icons{
    top: 50%;
    transform: translateY(-50%);
    position: sticky;
    z-index:1;
    width: 80px;
}

.social-icons ul
{
    padding: initial;
}
.social-icons ul li{
   height: 40px;
    width: 40px;
    list-style-type: none;
    padding-left: 12px;
    padding-top: 6px;
    margin-top: 5px;
    color: #fff;
    background: #000;
}

.social-icons ul li:hover{
   
    padding-left: 30px;
    width: 80px;
    transition: 1s;
}
